.App {
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 10vh 15vw;
  height: 80vh;
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

  .content{
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #0009;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content 1fr;
  }
}
